{% extends 'base.html.twig' %}

{% block title %}Liste de utilisateurs{% endblock %}

{% block body %}

<div class="example-wrapper" align="center">
    <div id="haut"><h2 align="center">JonasLu's blog </h2></div>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">utilisateurs</th>
      <th scope="col">Login</th>
      <th scope="col">Mot de pass</th>
    </tr>
  </thead>
  <tbody>
  {% for item in list_inscription %}  <!--le variable dans le controller.php-->
    <tr class="table-active">
      <th scope="row">{{item.id}}</th>
      <td>{{item.login}}</td>
      <td>{{item.password}}</td>
      <td>Supprimer</td>
    </tr>
    {% endfor %} <!--Arreter de création de tableau-->
  </tbody>
</table>
	<tr>
		<td><a href="/serveur">
		<input type="button" class="btn btn-danger" id="btn1" value="retour"/></a>
		</td>
	</tr>
</div>
{% endblock %}
