{% extends 'base.html.twig' %}

{% block title %}Ajouter le ficher!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" align="center">
        <h1>Bonjour! "{{usernom}}" Vous pouvez ajouter les fichiers ici</h1>
        <div id="haut"><h2 align="center">JonasLu's blog </h2></div>
<form action="/traitementdufichier" method="post" enctype="multipart/form-data" align="center"> 
        <form>
            <div class="form-group">
            <label for="formFile" class="form-label mt-4">file input</label>
            <input class="form-control" type="file" name="myfile">
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</form>
</div>
{% endblock %}
